html,body{
    background-color: #F7F9F9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
/* HEADER */
.Header-main {
    background-color:#e9ecef;
} 
.header-logo img{
width: 100px;
}
.header-title h1{
    color: red;
}
/*  END HEADER */
/* FOOTER */
.Footer{
height: 30px;
background-color: black;
color: white;
text-align: center;
}
/* End FOOTER */
/* NAV BAR */
.container-nav {
 justify-content: center;
  
}

/* END NAV BAR */

    /*-------------------------------- Ventas------------ */
    .input-group{
        justify-content: center;
    }
 .cantidad{
     width: 60px;
 }
 .carritoBtn{
     width: 50%;
 }